In [15]:
import yesg

In [20]:
stock ="PYPL"

In [21]:
data = yesg.get_historic_esg(stock)

In [22]:
data.tail()

            Total-Score  E-Score  S-Score  G-Score
Date
2022-04-01          NaN      NaN      NaN      NaN
2022-05-01        16.41     0.71     9.94     5.76
2022-06-01          NaN      NaN      NaN      NaN
2022-07-01          NaN      NaN      NaN      NaN
2022-08-01        15.99     0.71     9.92     5.36